.container {
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #121313;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 95vw;
}

.subtitle {
    font-size: clamp(1rem, 1.8rem, 1.8vw);
    color: #fff;
    font-weight: 900;
}

.textform {
    position: relative;
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 2vw;
    color: #A8DADC;
    font-weight: 900;
    text-align: right;
}

.typeButton {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 1.05rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 5px solid #fff;
    border-radius: 90px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 30px;
    min-width: 120px;
}

.typeButton:hover {
    background-color: rgba(49, 172, 164, 0.5);
    color: #fff;
}

.typeButton:last-child {
    margin-right: 0;
}

.thumbnail {
    position: relative;
    display: block;
    padding: 50px;
    width: 70vh;
    height: 70vh;
}

@media (max-width: 400px) {
    .content {
        flex-direction: column;
    }
}