@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../public/NotoSansKR.ttf') format('truetype');
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}